@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

:root {
    --main-color: #238744;
    --second-color: #005830;
    --other-color: #6fbe73;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 100px;
}

table {
    border-collapse: collapse;
    box-shadow: 10px 10px 20px rgb(188, 187, 187);
}

td, th {
    border: 1px solid var(--main-color);
    padding: 20px 30px;
}

thead {
    background-color: var(--main-color);
    color: white;
}

tr:nth-child(even) {
    background-color: #6fbe73;
}

#btn {
    background-color: var(--main-color);
    border: 5px;
    padding: 10px;
    color: white;
}

#btn:hover {
    background-color: var(--other-color);
}